.App {
  height: 0px;
}

main {
  width: calc(100vw - 190px);
  position: relative;
  z-index: -1;
  padding: 20px;
  left: 150px;
  top: 80px;
}

.wrapper {
  margin: auto;
  max-width: 730px;
  position: relative;
}

.mobile-main {
  width: calc(100vw - 100px);
  left: 70px;
}
