.App {
  /* padding: 20px; */
}

main {
  position: relative;
  width: calc(100vw - 190px);
  line-height: 2.5;
  display: inline-block;
  left: 150px;
  top: 80px;
  max-width: 730px;
  z-index: -1;
  padding: 20px;
}

.mobile-main {
  width: calc(100vw - 100px);
  left: 70px;
}
