.App {
  height: 0px;
  color: #1F1E1E;
}

.content-wrapper {
  background-color: #FFF7EE;
  top: 80px;
  position: relative;
  z-index: -99;

}

main {
  width: calc(100vw - 190px);
  position: relative;
  z-index: -1;
  padding: 20px;
  left: 150px;
}

.wrapper {
  margin: auto;
  max-width: 730px;
  position: relative;
}

.mobile-main {
  width: calc(100vw - 100px);
  left: 70px;
}
