.headshot {
  max-height: 400px;
  margin-right: 20px;
  border: 3px solid #ffffff;
}

.bio-container {
  display: flex;
}

.mobile-main .bio-container {
  display: block;
}

.mobile-main .headshot {
  float: left;
}
