.Nav {
  float: left;
  position: fixed;
  background-color: #969DB6;
  font-weight: bold;
}

.desktop-nav {
  height: 100vh;
  line-height: 100vh;
  width: 200px;
}

.mobile-nav {
  width: 60px;
  height: 100vh;
}

.mobile-nav .nav-items-container {
  top: 150px;
  position: relative;
  width: 60px;
}

.Nav .nav-items-container {
  line-height: 2.5;
  display: inline-block;
}

.nav-items-container div {
  cursor: pointer;
  padding-left: 20px;
}

.mobile-nav .nav-items-container div {
  width: 60px;
}

.desktop-nav .nav-items-container div {
  width: 200px;
}

.nav-item-selected {
  background-color: #FFF7EE;
}
