.Nav {
  float: left;
  position: fixed;
  background-color: #9FAFE4;
  font-weight: bold;
  z-index: 99;
}

.desktop-nav {
  height: 100vh;
  line-height: 100vh;
  width: 200px;
}

.mobile-nav {
  width: 60px;
  height: 100vh;
}

.mobile-nav .nav-items-container {
  top: 150px;
  position: relative;
  width: 60px;
}

.Nav .nav-items-container {
  line-height: 2.5;
  display: inline-block;
}

.nav-items-container button {
  cursor: pointer;
  padding-left: 20px;
  height: 50px;
  font-size: 20px;
}

.mobile-nav .nav-items-container button {
  width: 60px;
}

.desktop-nav .nav-items-container button {
  width: 200px;
}

.nav-item-selected {
  background-color: black;
  color: #FFFDF9;
}

ul {
  list-style: none;
}
