.Nav {
  float: left;
  position: fixed;
}

.desktop-nav {
  height: 100vh;
  line-height: 100vh;
  width: 150px;
  padding: 20px;
}

.mobile-nav {
  background-color: white;
  width: 25px;
  top: 70px;
  padding: 20px;
}

.Nav .nav-items-container {
  line-height: 2.5;
  display: inline-block;
}

.nav-items-container div {
  cursor: pointer;
}
