li {
  list-style: none;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.project-container section {
  min-height: 200px;
  padding: 6% 0;
  max-width: 500px;
  margin: auto;
}

.project-description, .bio {
  margin: 20px;
  line-height: 2;
  font-size: 16px;
}

.project-img {
  max-height: 300px;
  /* box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.50); */
  cursor: pointer;
}

.logo {
  height: 30px;
}

address {
  font-style: normal;
}

.logo-container {
  margin-top: 30px;
}

.logo-container, .contact-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}

.contact-links {
  padding-top: 40px;
}

.more-button {
  padding: 10px;
  color: #47342B;
  font-size: 15px;
  background-color: #D1E0CA;
  margin-bottom: 40px;
  border-radius: 3px;
  border: #47342B 3px solid;

}

.logo-parent {
  margin: 15px;
  text-align: center;
}

button {
  background: transparent;
  font-family : inherit;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.live-repo button {
    font-size: 15px;
    border-radius: 5px;
    background-color: #25599D;
    color: white;
    padding: 7px;
}
.live-repo {
  margin-bottom: 40px;
}


.contact-link {
  margin: 20px;
}


p {
  font-size: 10px;
}

.contact-deet {
  font-size: 12px;
  display: block;
}

